@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: white;
  color: white;
  font: normal 100%/1.5 sans-serif;
  font-family: Source Sans Pro, sans-serif;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  margin: auto;
}

.pic {
  background-image: url("../img/forest-background-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em 0;
  width: 100%;
}

i {
  font-size: 10em;
}

a {
  text-decoration: none;
  color: #536177;
}

a:hover {
  color: black;
}

h1 {
  font-weight: 100;
  font-size: 3em;
}

.content {
  color: #536177;
  text-align: center;
}

.unit {
  text-align: center;
  padding: 1em;
}

@media only screen and (min-width: 320px) {
  .bird {
    float: left;
    margin: 0 auto;
    width: 100%;
  }
}

@media only screen and (min-width: 620px) {
  .bird {
    float: left;
    margin: 0 auto;
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  .bird {
    float: left;
    margin: 0 auto;
    width: 25%;
  }
}
