@mixin icon1 {
    float: left;
    margin: 0 auto;
    width: 100%;
}

@mixin icon2 {
    float: left;
    margin: 0 auto;
    width: 50%;
}

@mixin icon3 {
    float: left;
    margin: 0 auto;
    width: 25%;
}